body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("Kimi no nawa.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* linear-gradient(to right, #553c9a 45%, #ee4b2b);   */
  
}

.head {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  text-align: center;
  color: white;
  position: relative;
  top: -200px;
  font-family: "Rajdhani", sans-serif;
  font-family: "Source Code Pro", monospace;
  background: rgba(176, 139, 196, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  width: 100vb;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* liner gradient  text */
  text-shadow: 6px 3px 5px rgba(125,53,162,1);
  color: rgb(50, 16, 72);
}

.clock {
  display: flex;
  position: relative;
  top: -190px;
}
.clock div {
  margin: 5px;
  position: relative;
}
.clock span {
  width: 300px;
  height: 150px;
  /* background: rgba(169, 169, 169, 0.5); */
  background: rgba(176, 139, 196, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(50, 16, 72);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  text-shadow: 2px 2px 5px rgb(83, 49, 127);
  border-radius: 5%;
  box-shadow: 0 0 10px rgb(169, 166, 171);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* background: rgba(169, 169, 169, 0.5); */
  /* opacity: 0.8; */
  background: rgba(176, 139, 196, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.clock #AM {
  bottom: 0;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 20px;
  /* background: rgba(169, 169, 169, 0.5); */
  /* opacity: 0.8; */
  background: rgba(176, 139, 196, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(50, 16, 72);
}
