* {
  margin: 0;
  padding: 0;
  font-family: "Lobster", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Rajdhani", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:ital@1&family=Rajdhani:wght@500&family=Roboto+Mono:wght@300&family=Source+Code+Pro:ital@1&display=swap");

.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  z-index: 1;
}

.To_Do_Lists {
  width: 100%;
  max-width: 540px;
  background: aliceblue;
  margin: 150px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #15025e;
  -moz-box-shadow: 0 10px 6px -6px #210685;
  box-shadow: 0 10px 6px -6px #0a0a51;
  z-index: 1;
}

.To_Do_Lists h2 {
  color: #4e54c8;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  z-index: 1;
}

.To_Do_Lists img {
  width: 30px;
  margin-left: 10px;
  z-index: 1;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  z-index: 1;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 20px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
  border-style: solid;
  border-radius: 40px;
  border-color: skyblue;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  /* background: #2222e2; */
  font-size: 16px;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #0e48de, #031641);
  z-index: 1;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #031641;
  text-decoration: line-through;
  /* background-image: url(checked.png); */
}

ul li.checked::before {
  background-image: url(image.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #031641;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #8daaf2;
  /* background-color: #0e48de; */
}

body {
  background: rgb(118,111,247);
background: linear-gradient(4deg, rgba(118,111,247,1) 0%, rgba(94,92,217,1) 25%, rgba(52,52,226,1) 39%, rgba(42,43,183,1) 50%, rgba(25,28,147,1) 75%, rgba(1,7,67,1) 100%);
}
/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 90%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 3s, 1s;
}
.snowflake:nth-of-type(11) {
  left: 90%;
  -webkit-animation-delay: 5.13s, 1.5s;
  animation-delay: 1s, 1.5s;
}
.snowflake:nth-of-type(12) {
  left: 90%;
  -webkit-animation-delay: 3s, 5s;
  animation-delay: 3s, 1s;
}
.snowflake:nth-of-type(13) {
  left: 90%;
  -webkit-animation-delay: 3s, 5s;
  animation-delay: 3s, 1s;
}
.snowflake:nth-of-type(14) {
  left: 90%;
  -webkit-animation-delay: 3s, 5s;
  animation-delay: 3s, 1s;
}
.snowflake:nth-of-type(15) {
  left: 90%;
  -webkit-animation-delay: 3s, 5s;
  animation-delay: 3s, 1s;
}
/* Demo Purpose Only*/
.demo {
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
.demo a {
  font-family: "Raleway", sans-serif;
  color: #000;
}
